<nav class="navbar navbar-dark bg-primary">
 <a class= "navbar-brand" href="">
<!-- ? <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
  Docker compose example
 </a> 
</nav>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-4">
      image: <img src="assets/img/docker.png" width="100" height="100" class="d-inline-block align-top" alt="">
    </div> -->
    <div class="col-md-8">
      <ul class="list-group">

      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Agregar doc a la base de datos
          </div>
        </div>
      </div>
    </div>
  </div>
</div>